html, body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #ffffff;
  font-family: "Calibri", serif;
  line-height: 1.6;
}

/* link styles */
a {
  color: #ffffff;
}

/* header styles */
header {
  font-family: "Calibri", sans-serif;
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  opacity: 1;
  padding: 1rem 2rem;
  box-sizing: border-box;
}

header ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: center;

}

header ul li a {
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-decoration: none;
  color: #949494;
  padding: 5px 10px;
  margin: 0px 0px;
  position: relative;
  transition: all .5s;
  border-radius: 1.2rem;
}

a:hover {
  color: white;
  transform: translateY(-3px);
  border-radius: 1.2rem;
  
}

a::before {
  color: #949494;
  position: absolute;
  bottom: 12px; 
  left: 12px;
  height: 12px;
  width: 12px;
  border-width: 0 0 3px 3px;
  transform: all 0.3s;
}

a::after {
  content: "";
  position: absolute;
  top: 12px; 
  right: 12px;
  height: 12px;
  width: 12px;
  border-width: 3px 3px 0 0;
  transform: all 0.3s;
}
/* end of header styles */

h1{
  font-size: 2.5rem;
  padding: 1rem;
  text-align: center;
  border: 1px solid #333; 
  border-radius: 10px;
  background-color: #000000;
  max-width: 800px;
  margin: auto;
  margin-top: 5rem;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  
}

h4 {
  font-family: "Helvetica", serif;
  font-size: 1rem;
  font-weight: lighter;
}

.project-card .image {
  width: 100%;
  height: auto;
  max-height: 400px;
  border-radius: 10px;
  border: 1px solid #333;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}


.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}


.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 2rem;
  max-width: 1100px;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
}



.project-card {
  background-color: #000000;
  color: #ffffff;
  padding: 1rem;
  border: 1px solid #333; 
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


/* skills list */

.skills-list  {
  display: flex;
  flex-wrap: wrap; 
  gap: 0.1rem;      
  padding: 0;
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

.skills-list li{
  background: linear-gradient(90deg, #202020 0%, #3d3d3d 100%);    
  color: #f1f1f1;               
  padding: 0.1rem 0.4rem;     
  border-radius: 999px;     
  font-size: 0.8rem;
  white-space: nowrap;
  cursor: default;          
} 



.pdf-container {
  padding: 0;
  margin: 0 auto;
  max-width: 900px;
  padding-top: 6rem;
}

.pdf-viewer {
  width: 100%;
  box-sizing: border-box;
  height: 1150px;
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* optional soft shadow */
  border-radius: 8px; /* optional rounded corners */
}


@media (max-width: 600px) {
  .projects {
    grid-template-columns: 1fr;
  }


.pdf-container {
  padding: 0;
  margin: 0 auto;
  max-width: 500px;
  padding-top: 2rem;
}

.pdf-viewer {
  width: 100%;
  box-sizing: border-box;
  height: 60vh;
  min-height: 700px;
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* optional soft shadow */
  border-radius: 8px; /* optional rounded corners */
}
