
.anek-devanagari {
  font-family: "Anek Devanagari", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: bold;
  font-variation-settings:
    "width" 100;
}
.epilogue {
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


html, body {
  margin: 0;
  padding: 0;
  background-color: #202020;
  color: #000000;
  /* font-family: "Raleway", serif; */
  font-family: "Epilogue", sans-serif;
  line-height: 1.6;
}


/* link styles */
a {
  color: #ffffff;
}

/* header styles */
header {
  /* font-family: "Raleway", sans-serif; */
  font-family: "Anek Devanagari", sans-serif;
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
  background: rgba(46, 46, 46, 0.68);
  backdrop-filter: blur(8px);
  opacity: 1;
  padding: 1rem 2rem;
  box-sizing: border-box;
}

header ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: center;
}



header ul li a {
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
  padding: 5px 10px;
  margin: 0px 0px;
  position: relative;
  transition: all .5s;
  border-radius: 1.2rem;
}

a:hover {
  color: rgb(0, 157, 255);
  transform: translateY(-3px);
  border-radius: 1.2rem;
  
}

a::before {
  color: #949494;
  position: absolute;
  bottom: 12px; 
  left: 12px;
  height: 12px;
  width: 12px;
  border-width: 0 0 3px 3px;
  transform: all 0.3s;
}

a::after {
  content: "";
  position: absolute;
  top: 12px; 
  right: 12px;
  height: 12px;
  width: 12px;
  border-width: 3px 3px 0 0;
  transform: all 0.3s;
}
/* end of header styles */






/* hero and about */
.hero {
  display: flex;
  flex-direction: row; 
  align-items: center;  
  justify-content: center; 
  gap: 1rem; 
  min-height: 30vh;
  text-align: left;
  padding: 1rem;
  flex-wrap: wrap; 
  max-width: 700px;
  margin: auto;
  margin-top: 4rem;
  border-radius: 10px;
}


.hero .hero-image {
  width: 200px;
  height: auto;
  max-width: 100%;
  border-radius: 12px;
  margin-left: 2rem;
}

.hero h1 {
  font-size: 2.5em;
  margin: 0;
  font-family: "Anek Devanagari", sans-serif;
  color: #ffffff;
}

.additional-text {
  font-size: 1.2em;
  color: #ccc;
  margin-top: 0rem;
}

.icon-container {
  display: flex;
  gap: 1rem; 
  margin-top: 1rem;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  text-decoration: none;
}

.icon {
  filter: invert(100%);
  width: 32px;
  height: 32px;
  transition: transform 0.2s ease, opacity 0.2s ease;
  cursor: pointer;
}


.github-icon {

  transition: filter 0.3s ease;
}


.linkedin-icon {
  filter: brightness(0) saturate(100%)
          invert(100%) sepia(0%) saturate(0%)
          hue-rotate(0deg) brightness(100%) contrast(100%);
  transition: filter 0.3s ease;
}

.email-icon {
  filter: brightness(0) saturate(100%)
          invert(100%) sepia(0%) saturate(0%)
          hue-rotate(0deg) brightness(100%) contrast(100%);
  transition: filter 0.3s ease;
}


.linkedin-icon:hover {
  filter: brightness(0) saturate(100%)
          invert(46%) sepia(95%) saturate(7478%)
          hue-rotate(191deg) brightness(102%) contrast(102%);
}

.email-icon:hover {
  filter: brightness(0) saturate(100%)
          invert(46%) sepia(95%) saturate(7478%)
          hue-rotate(191deg) brightness(102%) contrast(102%);
}

.github-icon:hover {
  filter: brightness(0) saturate(100%)
          invert(46%) sepia(95%) saturate(7478%)
          hue-rotate(191deg) brightness(102%) contrast(102%);
}



.resume-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 0.25rem 1rem;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}

.resume-link:hover {
  transition: transform 0.2s ease, opacity 0.2s ease;
  cursor: pointer;
  border: 2px solid rgb(0, 157, 255);
  border-radius: 10px;
  background-color: #3b3b3b;
}

.about {
  width: 100%;
  max-width: 450px;
  margin: 0 auto 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

}

.about p {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  font-size: 0.9rem;
  line-height: 1.6;
  color: #ffffff;
}
/* end of hero and about */









/* tabs */
/* .tab {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 4rem auto 2rem auto;
  max-width: 640px;          
  width: 90%;               
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #131313;
}
.tab button {
  background-color: #131313;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0.25rem;
  padding: 0.25rem clamp(2rem, 10vw, 7rem);
  transition: 0.1s;
  border-radius: 6px;
  color: #c0c0c0;
  white-space: nowrap;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 0.8rem;
}

.tab button.active {
  background-color: #c0c0c0;
  color: #000000;
}
.tabcontent {
  display: none;
  padding: 1rem;
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
  border: 1px solid #333;
  border-radius: 10px;
  background-color: #000000;
} */
/* end of tabs */




/* education and work */

/*education*/
.education {
  display: flex;
  flex-direction: column;   /* stack items vertically */
  align-items: center;      /* center everything horizontally */
  justify-content: center;
  gap: 2rem;
  min-height: 30vh;
  text-align: left;
  padding: 1rem;
  max-width: 700px;
  margin: 4rem auto 0 auto; /* centers the section */
  border-radius: 10px;
  margin-top: 0px;
}


.education-header {
  font-size: 2rem;
  color: #ccc;
}

.education-entry {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin-bottom: 2rem;
}



.educationicon {
  width: 75px;
  height: 75px;
  border-radius: 10px;
  background-color: white;
  margin-right: 1.5rem;
  flex-shrink: 0;
}

.education-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.schoolname {
  font-weight: bold;
  font-size: 1.6rem;
}

.education-info {
  font-size: 0.95rem;
  color: #ccc;
}
/*end of education*/



.work-entry {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.workicon {
  width: 75px;
  height: 75px;
  border-radius: 10px;
  background-color: white;
  margin-right: 1.5rem;
  flex-shrink: 0;
}

.work-text {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.work-text h4 {
  font-weight: bold;
  font-size: 1.4rem;
  margin: 0; 
  margin-bottom: 4px;
}

.work-text h5 {
  font-size: 0.95rem;
  color: #ccc;
  margin-top: 0px;
  margin-bottom: 0px;
}



.experience-list {
  display: flex;
  flex-wrap: wrap; 
  gap: 0.1rem;      
  padding: 0;
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

.experience-list li {
  background: linear-gradient(90deg, #202020 0%, #3d3d3d 100%);    
  color: #f1f1f1;               
  padding: 0.1rem 0.4rem;     
  border-radius: 999px;     
  font-size: 0.8rem;
  white-space: nowrap;
  cursor: default;              
}





/*end of education and work */


/* footer */
footer {
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}
footer p {
  font-size: 0.8em;
  color: rgb(121, 121, 121);
  opacity: 0.6;
  margin: 0;
  padding-bottom: 5rem;
}
footer .contactlinks {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  padding-bottom: 2rem;
}

footer .contactlinks a {
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-decoration: none;
  color: #949494;
  padding: 5px 10px;
  margin: 0px 0px;
  position: relative;
  transition: all .5s;
  border-radius: 1.2rem;
}

footer .contactlinks a:hover {
  color: white;
  transform: translateY(-3px);
  border-radius: 1.2rem;
}

footer .contactlinks a::before {
  color: #949494;
  position: absolute;
  bottom: 12px; 
  left: 12px;
  height: 12px;
  width: 12px;
  border-width: 0 0 3px 3px;
  transform: all 0.3s;
}

footer .contactlinks a::after {
  content: "";
  position: absolute;
  top: 12px; 
  right: 12px;
  height: 12px;
  width: 12px;
  border-width: 3px 3px 0 0;
  transform: all 0.3s;
}


footer .attributions a {
  font-size: 0.2em;
  color: #646464;
  opacity: 0.6;
  text-align: center;
}
/* end of footer */
footer ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: center;

}






@media (max-width: 768px) {
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    justify-content: center;
  }


  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .hero .hero-image {
    width: 150px;
    margin-left: 0;
    order: -1;
  }
  .hero .icon-container {
    justify-content: center;
  }

  .about {
    max-width: 90%;
  }

  header ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    justify-content: center;

  }


  .tab button {
    width: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin: 0.25rem 1px;
    text-align: center;
  }
}